.container {
    margin: auto;
    max-width: 1240px;
    padding: 0 40px;
}

main,
.main {
    margin-top: $nav-height;
}

section,
.section {
    padding: 80px 0;

    &.alternate {
        background: palette('background', 'alternate');
    }
}

@include for-tablet-down {
    .container {
        padding: 0 20px;
    }
}
